Repository ModelEngine-Group/app-platform, pull requests merged in 2025-09, with the labels that each got.

#420 [plugin] Deploying file retrieval can be configured
  frontend/src/locale/en_US.json
  frontend/src/locale/zh_CN.json
  frontend/src/pages/plugin/deployment/deploy-table.tsx
  store/plugins/store-tool-deployer/src/main/java/modelengine/jade/store/tool/deploy/service/support/DefaultPluginDeployService.java
Labels: type: bug, in: store, in: frontend

#411 [frontend] add chat id when debugging waterflow
  frontend/src/pages/addFlow/components/flow-test.tsx
Labels: type: enhancement, in: frontend

#423 [app-builder] feat: add quick start
  .gitignore
  README.md
  docker/.env.example
  docker/deploy.sh
  docker/docker-compose.yml
  docker/import_model.sh
  docker/shell/initDB.sh
  docker/sql/init/data/01_app_engine_model_upgrade.sql
  docker/sql/init/data/aipp_parallel_tool.sql
  docker/sql/init/data/appbuilder_insert.sql
  docker/sql/init/data/template_answer_book.sql
  docker/sql/init/data/template_book_report.sql
  docker/sql/init/data/template_credicheck_agent.sql
  docker/sql/init/data/template_douyin_customer_service.sql
  docker/sql/init/data/template_enterprise_sales_assistant_test_drive.sql
  docker/sql/init/data/template_financial_contract_field_extraction.sql
  docker/sql/init/data/template_interview_assistant.sql
  docker/sql/init/data/template_project_planner_agent.sql
  docker/sql/init/data/template_speech_report_generator.sql
  docker/sql/init/data/template_sql_master.sql
  docker/sql/init/data/template_tarot.sql
  docker/sql/init/data/tr_init_models.sql.example
  docker/sql/init/data/tr_init_tools.sql
  docker/sql/init/data/tr_t_interview.sql
  docker/sql/init/data/tr_t_knowledge_config.sql
  docker/sql/init/data/tr_t_model_import.sql
  docker/sql/init/data/tr_t_wenjie.sql
  docker/sql/init/schema/aipp_custom_model_center.sql
  docker/sql/init/schema/aipp_user_knowledge.sql
  docker/sql/init/schema/app_base_create_table.sql
  docker/sql/init/schema/app_engine_announcement_create_table.sql
  docker/sql/init/schema/app_engine_metrics_create_table.sql
  docker/sql/init/schema/app_eval_create_table.sql
  docker/sql/init/schema/app_task_create_table.sql
  docker/sql/init/schema/appbuilder_create.sql
  docker/sql/init/schema/definition-group.sql
  docker/sql/init/schema/definition.sql
  docker/sql/init/schema/function.sql
  docker/sql/init/schema/general_create.sql
  docker/sql/init/schema/schema-app.sql
  docker/sql/init/schema/schema-collection.sql
  docker/sql/init/schema/schema-model.sql
  docker/sql/init/schema/schema-plugin-tool.sql
  docker/sql/init/schema/schema-plugin.sql
  docker/sql/init/schema/schema-tag.sql
  docker/sql/init/schema/schema-task.sql
  docker/sql/init/schema/schema-tool.sql
  docker/sql/init/schema/simple_id_generator_create_sequence.sql
  docker/sql/init/schema/tool-group.sql
  docker/sql/init/schema/trigger-app.sql
  docker/sql/init/schema/trigger-collection.sql
  docker/sql/init/schema/trigger-model.sql
  docker/sql/init/schema/trigger-plugin-tool.sql
  docker/sql/init/schema/trigger-plugin.sql
  docker/sql/init/schema/trigger-tag.sql
  docker/sql/init/schema/trigger-task.sql
  docker/sql/init/schema/trigger-tool.sql
  docker/sql/upgrade/upgrade.sql
Labels: in: builder, in: carver, in: store, type: task, in: frontend

#436 [app-builder] task: quick develop app-builder
  README.md
  docker/dev-app-builder.sh
Labels: in: builder, type: task

#421 Add debug command documentation
  .gitignore
  README.md
  docker/dev-app-builder.sh
  docker/docker-compose.dev.yml
Labels: in: builder, type: documentation

#442 问题优化节点添加大模型访问端点
  frontend/src/pages/addFlow/config.ts
Labels: type: bug, in: builder

#447 [app-builder] 去除不必要的AippErrCode.java文件
  app-builder/plugins/aipp-plugin/src/main/java/modelengine/fit/jober/aipp/common/exception/AippErrCode.java
  app-builder/plugins/aipp-plugin/src/main/resources/i18n/messages_en.properties
  app-builder/plugins/aipp-plugin/src/main/resources/i18n/messages_zh.properties
  app-builder/services/aipp-service/src/main/java/modelengine/fit/jober/aipp/common/exception/AippErrCode.java
Labels: in: builder, type: task
