Repository ModelEngine-Group/app-platform, pull requests merged in 2025-08, with the labels that each got.

#363 [app-builder] fix wrong code tool schema
  store/plugins/store-repository-postgresql/src/main/resources/sql/data/tr_init_tools.sql
Labels: type: bug, in: builder

#366 [app-builder] mcp server compatible
  app-builder/plugins/aipp-plugin/src/main/java/modelengine/fit/jober/aipp/util/McpUtils.java
Labels: in: builder, type: enhancement

#340 Specify the PostgreSQL version number
  README.md
Labels: in: builder, type: documentation

#374 [app-platform] 修复应用对话内容大于小于号展示问题
  frontend/src/pages/chatPreview/utils/marked-process.ts
Labels: type: bug, in: frontend

#375 [app-platform] Fix failed tests.
  app-builder/plugins/aipp-http-call/src/test/java/modelengine/fit/jade/aipp/http/call/AippHttpCallServiceTest.java
Labels: type: bug, in: builder

#376 [app-platform] Add action trigger branches.
  .github/workflows/app-platform-java-compile.yml
Labels: in: builder, type: task

#389 [app-builder] bugfix: original app vanished after deleting the copy
  app-builder/plugins/aipp-plugin/src/main/java/modelengine/fit/jober/aipp/domains/appversion/AppVersion.java
Labels: type: bug, in: builder

#393 修复代码节点说明错误问题
  frontend/src/locale/en_US.json
  frontend/src/locale/zh_CN.json
Labels: type: bug, in: frontend

#385 针对README中图片无法正常显示的修改
  README.md
Labels: type: bug, in: builder
