Repository ModelEngine-Group/app-platform, pull requests merged in 2025-06, with the labels that each got.

#216 [app-builder] return when model unavailable
  app-builder/jane/plugins/aipp-plugin/src/main/java/modelengine/fit/jober/aipp/fitable/LlmComponent.java
  app-builder/jane/plugins/aipp-plugin/src/test/java/modelengine/fit/jober/aipp/fitable/LlmComponentTest.java
Labels: type: bug, in: builder

#220 [app-builder] fix clean task_instance_new bug
  app-builder/jane/task-new/src/main/resources/mapper/MetaInstanceMapper.xml
Labels: type: bug, in: builder

#226 [frontend]增加前端对话界面插件化功能
  app-engine/frontend/.gitignore
  app-engine/frontend/package.json
  app-engine/frontend/plugins/manifest.json
  app-engine/frontend/plugins/plugin.js
  app-engine/frontend/plugins/plugin.sh
  app-engine/frontend/src/components/layout/index.tsx
  app-engine/frontend/src/locale/en_US.json
  app-engine/frontend/src/locale/zh_CN.json
  app-engine/frontend/src/pages/addFlow/components/elsa-stage.tsx
  app-engine/frontend/src/pages/aippIndex/index.tsx
  app-engine/frontend/src/pages/appDetail/overview/index.tsx
  app-engine/frontend/src/pages/apps/index.tsx
  app-engine/frontend/src/pages/chatPreview/chatComminPage.tsx
  app-engine/frontend/src/pages/chatPreview/index.tsx
  app-engine/frontend/src/pages/chatRunning/index.scoped..scss
  app-engine/frontend/src/pages/chatRunning/index.tsx
  app-engine/frontend/src/pages/configForm/index.scoped.scss
  app-engine/frontend/src/pages/configForm/index.tsx
  app-engine/frontend/src/pages/helper.ts
  app-engine/frontend/src/shared/http/chat.ts
  app-engine/frontend/src/shared/utils/common.ts
  app-engine/frontend/src/store/chatStore/action-types.ts
  app-engine/frontend/src/store/chatStore/chatStore.ts
  app-engine/frontend/src/store/chatStore/reducer.ts
  app-engine/frontend/webpack.common.js
  app-engine/frontend/webpack.common.single.js
Labels: type: feature, javascript

#229 [frontend] fix frontend build error
  app-engine/frontend/package.json
Labels: type: bug

#228 [app-builder] Disentangle app_suite_id and name
  app-builder/jane/plugins/aipp-plugin/src/main/java/modelengine/fit/jober/aipp/domains/appversion/publish/TaskPublisher.java
  app-builder/jane/task-new/src/main/java/modelengine/fit/task_new/repository/impl/MetaRepositoryImpl.java
Labels: type: bug, in: builder

#235 [appBuilder] 修复工具流无法多次发布的问题
  app-builder/jane/plugins/aipp-plugin/src/main/java/modelengine/fit/jober/aipp/domains/appversion/publish/StorePublisher.java
Labels: type: bug, in: builder

#240 [frontend] bugfix: cannot remove inspiration
  app-engine/frontend/src/pages/configForm/configUi/components/inspiration-list.tsx
Labels: type: bug, in: frontend

#251 [frontend] bugfix: Incorrect read-only state after opening app publish history
  app-engine/frontend/src/components/timeLine/index.tsx
  app-engine/frontend/src/pages/components/header.tsx
Labels: type: bug, in: frontend

#258 [app-platform] 修复模板相关逻辑
  app-builder/jane/plugins/aipp-plugin/src/main/java/modelengine/fit/jober/aipp/converters/impl/AppVersionToTemplateConverter.java
  app-builder/jane/plugins/aipp-plugin/src/main/java/modelengine/fit/jober/aipp/domains/appversion/AppVersion.java
  app-builder/jane/plugins/aipp-plugin/src/main/java/modelengine/fit/jober/aipp/domains/appversion/service/impl/AppVersionServiceImpl.java
  app-builder/jane/plugins/aipp-plugin/src/main/java/modelengine/fit/jober/aipp/util/TemplateUtils.java
  app-builder/jane/plugins/aipp-plugin/src/test/java/modelengine/fit/jober/aipp/util/TemplateUtilsTest.java
Labels: type: bug, in: builder

#259 [frontend] bugfix: enableLog configuration not taking effect at end node
  app-engine/frontend/src/pages/chatPreview/index.tsx
Labels: type: bug, in: frontend

#277 [app-builder] fix: set minimum question length to 0 in validation
  app-builder/jane/plugins/aipp-plugin/src/main/java/modelengine/fit/jober/aipp/domains/appversion/AppVersion.java
Labels: type: bug, in: builder

#282 [appBuilder] 在对话 READY 后也设置chatId
  app-engine/frontend/src/pages/chatPreview/index.tsx
Labels: type: bug, in: builder

#279 [app-platform] 添加模板应用相关sql
  app-builder/jane/plugins/aipp-plugin/src/main/resources/sql/data/template_answer_book.sql
  app-builder/jane/plugins/aipp-plugin/src/main/resources/sql/data/template_book_report.sql
  app-builder/jane/plugins/aipp-plugin/src/main/resources/sql/data/template_credicheck_agent.sql
  app-builder/jane/plugins/aipp-plugin/src/main/resources/sql/data/template_douyin_customer_service.sql
  app-builder/jane/plugins/aipp-plugin/src/main/resources/sql/data/template_enterprise_sales_assistant_test_drive.sql
  app-builder/jane/plugins/aipp-plugin/src/main/resources/sql/data/template_financial_contract_field_extraction.sql
  app-builder/jane/plugins/aipp-plugin/src/main/resources/sql/data/template_interview_assistant.sql
  app-builder/jane/plugins/aipp-plugin/src/main/resources/sql/data/template_project_planner_agent.sql
  app-builder/jane/plugins/aipp-plugin/src/main/resources/sql/data/template_speech_report_generator.sql
  app-builder/jane/plugins/aipp-plugin/src/main/resources/sql/data/template_sql_master.sql
  app-builder/jane/plugins/aipp-plugin/src/main/resources/sql/data/template_tarot.sql
Labels: in: builder, type: enhancement
