Repository ModelEngine-Group/app-platform, pull requests merged in 2025-07, with the labels that each got.

#300 [store] Fix the problem of plugin deployment failure caused by plugin version
  store/plugins/store-tool-uploader/src/main/java/modelengine/jade/store/tool/upload/utils/FormatFileUtils.java
Labels: type: bug, in: store

#306 [frontend] Remove "Manual Check Form" item from the menu.
  app-builder/jane/plugins/aipp-plugin/src/main/resources/component/basic_node_en.json
  app-builder/jane/plugins/aipp-plugin/src/main/resources/component/basic_node_zh.json
Labels: in: builder, type: feature

#299 [app-builder] bugfix: reset app attributes when importing an app
  app-builder/jane/plugins/aipp-plugin/src/main/java/modelengine/fit/jober/aipp/domains/appversion/AppVersion.java
  app-builder/jane/plugins/aipp-plugin/src/main/java/modelengine/fit/jober/aipp/util/AppImExportUtil.java
Labels: type: bug, in: builder

#304 [app-builder] prioritize apps created by system in query results
  store/plugins/store-repository-postgresql/src/main/resources/mapper/AppMapper.xml
  store/plugins/store-repository-postgresql/src/test/java/modelengine/jade/store/repository/pgsql/integration/AppIntegrationTest.java
  store/plugins/store-repository-postgresql/src/test/java/modelengine/jade/store/repository/pgsql/mapper/AppMapperTest.java
  store/plugins/store-repository-postgresql/src/test/resources/sql/insert/app.sql
Labels: in: store, type: enhancement

#321 [tool] Upgrading tools and adapting application metadata to MCP protocol
  app-builder/plugins/aipp-custom-model-center/src/main/resources/sql/data/tr_t_model_import.sql
  app-builder/plugins/aipp-parallel-tool/src/main/resources/sql/data/aipp_parallel_tool.sql
  app-builder/plugins/plugins-show-case-parent/aito-data/src/main/resources/sql/data/tr_t_wenjie.sql
  app-knowledge/plugins/knowledge-manager/src/main/resources/sql/data/tr_t_knowledge_config.sql
  doc/Java插件开发指导.md
  store/plugins/store-repository-postgresql/src/main/resources/sql/data/tr_init_tools.sql
Labels: in: builder, type: enhancement

#297 [app-builder] insert meta_msg when llm node ends
  app-builder/jane/plugins/aipp-plugin/src/main/java/modelengine/fit/jober/aipp/dto/aipplog/AippInstLogDataDto.java
  app-builder/jane/plugins/aipp-plugin/src/main/java/modelengine/fit/jober/aipp/fitable/LlmComponent.java
  app-builder/jane/plugins/aipp-plugin/src/main/java/modelengine/fit/jober/aipp/service/impl/AippLogServiceImpl.java
  app-builder/jane/plugins/aipp-plugin/src/test/java/modelengine/fit/jober/aipp/fitable/LlmComponentTest.java
  app-builder/plugins/aipp-prompt-builder/src/main/resources/prompt/reference_template_en.txt
  app-builder/plugins/aipp-prompt-builder/src/main/resources/prompt/reference_template_zh.txt
  app-builder/plugins/aipp-prompt-builder/src/test/java/modelengine/fit/jade/aipp/prompt/PromptBuilderChainTest.java
  app-builder/plugins/aipp-prompt-builder/src/test/java/modelengine/fit/jade/aipp/prompt/ReferencePromptBuilderTest.java
  app-engine/frontend/src/pages/chatPreview/index.tsx
Labels: type: bug, in: builder, in: frontend

#339 [app-builder] correct wrong app id assignment during publishing
  app-builder/jane/plugins/aipp-plugin/src/main/java/modelengine/fit/jober/aipp/domains/appversion/ToolSchemaBuilder.java
Labels: type: bug, in: builder

#344 Upgrade FIT version from 3.5.0-M4 to 3.5.0-M5
  README.md
  app-builder/jane/dynamic-form-genericable/pom.xml
  app-builder/jane/plugins/aipp-plugin/pom.xml
  app-builder/jane/plugins/aipp-websocket-plugin/pom.xml
  app-builder/jane/task-new/pom.xml
  app-builder/plugins/aipp-classify-question/pom.xml
  app-builder/plugins/aipp-document-extract-node/src/test/java/modelengine/fit/jade/aipp/document/extractor/ExtractorTest.java
  app-builder/plugins/aipp-extractor/pom.xml
  app-builder/plugins/aipp-http-call/pom.xml
  app-builder/plugins/aipp-loop-tool/pom.xml
  app-builder/plugins/aipp-parallel-tool/pom.xml
  app-builder/plugins/aipp-rewriter/pom.xml
  app-builder/plugins/aipp-variable-aggregation/pom.xml
  app-builder/plugins/plugins-show-case-parent/agent-test/pom.xml
  app-builder/plugins/plugins-show-case-parent/aito-data/pom.xml
  app-builder/plugins/plugins-show-case-parent/fortune-telling/pom.xml
  app-builder/plugins/tool-waterflow/pom.xml
  app-builder/waterflow/java/pom.xml
  app-builder/waterflow/java/waterflow-dependency/pom.xml
  app-engine/plugins/app-metrics/pom.xml
  app-eval/plugins/eval-dataset/src/test/java/modelengine/jade/app/engine/eval/integration/EvalDataIntegrationTest.java
  app-eval/plugins/eval-dataset/src/test/java/modelengine/jade/app/engine/eval/integration/EvalDatasetIntegrationTest.java
  app-eval/plugins/eval-dataset/src/test/java/modelengine/jade/app/engine/eval/mapper/EvalDataMapperTest.java
  app-eval/plugins/eval-dataset/src/test/java/modelengine/jade/app/engine/eval/mapper/EvalDatasetMapperTest.java
  app-eval/plugins/eval-task/src/test/java/modelengine/jade/app/engine/task/fitable/EvalTaskFlowEndCallbackTest.java
  app-eval/plugins/eval-task/src/test/java/modelengine/jade/app/engine/task/fitable/EvalTaskUpdaterTest.java
  app-eval/plugins/eval-task/src/test/java/modelengine/jade/app/engine/task/mapper/EvalAlgorithmMapperTest.java
  app-eval/plugins/eval-task/src/test/java/modelengine/jade/app/engine/task/mapper/EvalCaseMapperTest.java
  app-eval/plugins/eval-task/src/test/java/modelengine/jade/app/engine/task/mapper/EvalInstanceMapperTest.java
  app-eval/plugins/eval-task/src/test/java/modelengine/jade/app/engine/task/mapper/EvalRecordMapperTest.java
  app-eval/plugins/eval-task/src/test/java/modelengine/jade/app/engine/task/mapper/EvalReportMapperTest.java
  app-eval/plugins/eval-task/src/test/java/modelengine/jade/app/engine/task/mapper/EvalTaskMapperTest.java
  app-eval/plugins/simple-uid-generator/src/test/java/modelengine/jade/app/engine/uid/mapper/IdGeneratorMapperTest.java
  carver/plugins/tool-execution/pom.xml
  carver/plugins/tool-repository-postgresql/pom.xml
  carver/plugins/tool-repository-postgresql/src/main/java/modelengine/jade/carver/tool/repository/pgsql/service/DefaultToolService.java
  carver/plugins/tool-repository-postgresql/src/test/java/modelengine/jade/carver/tool/repository/pgsql/integration/DefinitionGroupIntegrationTest.java
  carver/plugins/tool-repository-postgresql/src/test/java/modelengine/jade/carver/tool/repository/pgsql/integration/DefinitionIntegrationTest.java
  carver/plugins/tool-repository-postgresql/src/test/java/modelengine/jade/carver/tool/repository/pgsql/integration/ToolGroupIntegrationTest.java
  carver/plugins/tool-repository-postgresql/src/test/java/modelengine/jade/carver/tool/repository/pgsql/integration/ToolIntegrationTest.java
  common/components/mybatis-audit/src/test/java/modelengine/jade/common/audit/AuditInterceptorTest.java
  common/components/ui-word-globalizer/pom.xml
  common/dependency/pom.xml
  common/plugins/schema-generator/pom.xml
  common/plugins/schema-validator-everit-h1/pom.xml
  pom.xml
  store/plugins/store-repository-postgresql/src/test/java/modelengine/jade/store/repository/pgsql/integration/AppIntegrationTest.java
  store/plugins/store-repository-postgresql/src/test/java/modelengine/jade/store/repository/pgsql/integration/ModelIntegrationTest.java
  store/plugins/store-repository-postgresql/src/test/java/modelengine/jade/store/repository/pgsql/integration/PluginIntegrationTest.java
  store/plugins/store-repository-postgresql/src/test/java/modelengine/jade/store/repository/pgsql/integration/PluginToolIntegrationTest.java
  store/plugins/store-repository-postgresql/src/test/java/modelengine/jade/store/repository/pgsql/integration/TaskIntegrationTest.java
  store/plugins/store-repository-postgresql/src/test/java/modelengine/jade/store/repository/pgsql/integration/ToolIntegrationTest.java
  store/plugins/store-repository-postgresql/src/test/java/modelengine/jade/store/repository/pgsql/mapper/AppMapperTest.java
  store/plugins/store-tool-deployer/pom.xml
  store/plugins/store-tool-uploader/pom.xml
  store/services/store-service/pom.xml
Labels: in: builder, type: dependency-upgrade

#346 [carver] provide mcp tools
  app-builder/jane/plugins/aipp-plugin/src/main/java/modelengine/fit/jober/aipp/domains/appversion/ToolSchemaBuilder.java
  carver/plugins/tool-repository-postgresql/src/main/java/modelengine/jade/carver/tool/repository/pgsql/mapper/ToolMapper.java
  carver/plugins/tool-repository-postgresql/src/main/java/modelengine/jade/carver/tool/repository/pgsql/model/entity/ToolDo.java
  carver/plugins/tool-repository-postgresql/src/main/java/modelengine/jade/carver/tool/repository/pgsql/repository/ToolRepositoryInner.java
  carver/plugins/tool-repository-postgresql/src/main/java/modelengine/jade/carver/tool/repository/pgsql/repository/support/DefaultToolRepositoryInner.java
  carver/plugins/tool-repository-postgresql/src/main/java/modelengine/jade/carver/tool/repository/pgsql/service/DefaultToolService.java
  carver/plugins/tool-repository-postgresql/src/main/resources/mapper/ToolMapper.xml
  carver/plugins/tool-repository-postgresql/src/test/java/modelengine/jade/carver/tool/repository/pgsql/integration/DefinitionGroupIntegrationTest.java
  carver/plugins/tool-repository-postgresql/src/test/java/modelengine/jade/carver/tool/repository/pgsql/integration/DefinitionIntegrationTest.java
  carver/plugins/tool-repository-postgresql/src/test/java/modelengine/jade/carver/tool/repository/pgsql/integration/ToolGroupIntegrationTest.java
  carver/plugins/tool-repository-postgresql/src/test/java/modelengine/jade/carver/tool/repository/pgsql/integration/ToolIntegrationTest.java
  carver/plugins/tool-repository-postgresql/src/test/java/modelengine/jade/carver/tool/repository/pgsql/service/DefaultToolServiceTest.java
  store/plugins/store-repository-postgresql/src/main/resources/sql/data/tr_init_tools.sql
Labels: in: carver, type: feature

#347 [tool] Add missing fields for built-in plugins
  store/plugins/store-repository-postgresql/src/main/resources/sql/data/tr_init_tools.sql
Labels: type: bug, in: builder

#351 [frontend] 北向接口文档增加国际化能力
  app-engine/frontend/src/locale/en_US.json
  app-engine/frontend/src/locale/zh_CN.json
  app-engine/frontend/src/pages/appDetail/overview/apiDocument.tsx
  app-engine/frontend/src/pages/appDetail/overview/common/config.ts
  app-engine/frontend/src/pages/appDetail/overview/styles/api.scss
Labels: type: feature, in: frontend
